# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Temporary files/folders
temp/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packages
*.egg
*.egg-info/
dist/
build/

# Environment variables
*.env

# CSV files
*.csv